@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.menu-link{
    margin-right: 10px;
    margin-top: 20px;
    text-decoration: none;
    color:#989D9C;
    font-size: 24px;
   font-weight: 600;
  
}
#LOG{
    font-size: 24px;
    border-radius: 20px;
    width: 130px;
    height: 31px;
    background-color: #665AE1;
    color: white;
    border: none ;
}

#LOG:active{
    background-color:#655ae189 ;
}
nav{
    position: relative;
    left: 50px;
    top: 50px;
}

.imagem{
    display: inline-block;
    margin-top: 136px;
    margin-left: 80px;;
}

img{
width:568;
height: 500;

}

.texto{
    display: inline-block ;
    width: 50vw;
    height: 50vh;
    left: 100px;
    position: relative;
    bottom: 140px;
 
    
}

h1{
    width: 513px;
    height: 122px;
    margin: 0px;
    font-size: 100px;
    color: #515151;
    margin-bottom: 100px;
   
}
h2{
    margin: 0px;
    margin-bottom: 100px;
   
}
span{
    width: 480px;
    height: 71px;
    font-size: 55px;
    display: block;
}

p{
   width: 550px;
   height: 87px;
   font-size: 24px;
   color: #848484;
}

#EXPLORE{
  width: 239px;
  height: 64px;
  font-size: 28px;
  border-radius: 30px;
  color: black;
  font-weight: 700;
  background: #ADFF00;
  border: none;
  cursor: pointer;
  

 
 }

 .button{
    position: relative;
    top: 50px;
    left: 20px;
 }

 #EXPLORE:active{
    background-color: #aeff0070;
 }

 @media screen and (max-width:750px){
   header{
    display: none;
   }

   img{
    position: static;
    width: 400px ;
    height: 360px ;
   

   }
   .imagem{
    position: static;
    margin-left: 20vw;
    
    
   }

   .texto{
    position: static;
    margin-top: 20px;
    margin-left: 200px;
   }
   h1{
    width: 263px;
    height: 52px;
    font-size: 50px;
   }

   span{
    width: 232px;
    height: 37px;
    font-size: 25px;
    margin-left:15px;
   }
 }
